.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note {
    font-size: 15px;
    color: black;
}
body {
    background-size: cover;
}
.div_speed {
    float: left;
    margin-left: 20px;
}
.div_speed_img {
    width: 200px;
    border-radius: 30px;
}
#speed {
    font-size: 23px;
    margin: 15px;
}
.div_volume {
    float: right;
    margin-right: 20px ;
}
.div_volume_img {
    width: 200px;
    border-radius: 30px;
}
#volume {
    font-size: 23px;
    margin: 15px;
}
.play_btn {
    width: 130px;
    font-size: 25px;
}
canvas {
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 40px;
}
.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:grey;
    line-height: 3;
    text-align: center;
}